<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Register</title>
</head>
<body>
    <body class="container">
        <div class="row" style="margin-top: 10%;">
            <div class="col-md-5 offset-4">
<form action="{{ url_for('register') }}" method="POST">
    <div class="form-row">
      <div class="col-4">
        <input type="text" name="username" class="form-control" placeholder="First name">
      </div>
      <div class="col-4">
        <input type="text" name="password" class="form-control" placeholder="Surname">
      </div>
      </div>
      <br>
      <div class="form-row">
        <div class="form-group col-md-8">
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
      </div>
      <div class="form-row ">
        <div class="form-group col-md-8">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
     <div class="form-group col-8">
        <label for="birthday">Date of birthday</label> 
        <input type="date" id="birthday" name="birthday" class="form-control">
     </div>
      </div>

        <!-- <div class="form-group">
            <label for="radio">Gender</label>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="female" >
        <label for="female">Female</label>
        <input type="radio" id="Other" name="gender" value="Other">
        <label for="Other">Other</label>
    </div>
     -->
 
      <div class="form-group col-3">
        <input type="submit" class="form-control">
    </div>
  </form>
</body>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>

   